<section class="flex flex-col gap-4 h-full">
  @for (task of tasks$ | async; track task.id) {
    <div class="flex items-center p-2 hover:bg-sky-900 rounded-lg cursor-pointer" (click)="openTasks(task)">
      <mat-icon>{{ task.icon }}</mat-icon>
      <h2 class="ml-3 text-md font-thin">{{ task.name }}</h2>
      @if (task.tasks.length >= 1) {
        <span class="ml-auto">{{ task.tasks.length }}</span>
      }
    </div>
  }
  <div class="mt-auto cursor-pointer mb-6 flex flex-row gap-5">
    <mat-icon>add</mat-icon>
    <span>Nueva LISTA</span>
  </div>
</section>

