<section class="h-full px-24 pb-6 pt-16">

  @if (subTasks$ | async; as subtareas) {
    <div class="flex flex-col gap-1 h-full ">
      @for (sub of subtareas; track sub.id) {
        <div class="subtask-container flex flex-row h-12 gap-5 justify-center items-center px-8">
          @if (sub.completed) {
            <mat-icon>check_circle_outline</mat-icon>
          } @else {
            <mat-icon>circle_outline</mat-icon>
          }
          <h2 class="ml-3 text-md font-medium">{{ sub.title }}</h2>
          <span class="font-thin">{{ sub.description }}</span>
          <button class="ml-auto" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon [color]="'primary'">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editSubTask(sub.id)">Editar</button>
            <button mat-menu-item (click)="deleteSubTask(sub.id)">Eliminar</button>
          </mat-menu>
        </div>
      }
      <div class="subtask-container mt-auto flex flex-row h-12 gap-5 justify-start items-center
       px-8 cursor-pointer text-sky-700" (click)="createSubTask()"
      >
        <mat-icon (click)="addingTask =! addingTask">add</mat-icon>
        <span>Asignar una tarea</span>

      </div>
    </div>
  }
</section>



