.subtask-item {
  background-color: #363636;

  border-radius: 5px;
}

.subtask-item:hover {
  background-color: #484848;
}

.subtask-item input {
  color: white;
  background: none;
}

.subtask-list-container::-webkit-scrollbar {
  display: none;
}

